//___
//基础颜色变量
light = #ffeef8;
message = #FFCC99;
primary = #66CCFF;
dark-primary = #1b89ff;
light-primary = #70eaff;
success = #99CC99;
warn = #FFFF99;
error = #FF6666;
//___

//___
//整体颜色
background = #eee;
//___

//___
//全局角色颜色变量
title = #fcfaff;
content = #515a6e;


sub = #808695;

disabled = #c5c8ce
//___

//___
//全局字体变量
Font-LLL = 48px;

Font-LL = 30px;

Font-L = 24px;

Font-M = 18px;

Font-SM = 16px;

Font-S = 14px;
//___
