@import "variable"

.primary {
  color primary;
}
.sub-primary {
  color sub-primary;
}
.success {
  color success;
}
.message {
  color message;
}
.warn {
  color warn;
}
.error {
  color error;
}

.title {
  color: title;
}

.content {
  color: content;
}

.sub {
  color: sub;
}

.disabled {
  color : disabled
}

.font-lll {
  font-size Font-LLL;
}

.font-ll {
  font-size Font-LL;
}

.font-l {
  font-size Font-L;
}

.font-m {
  font-size Font-M;
}

.font-sm {
  font-size Font-SM;
}

.font-s {
  font-size Font-S;
}