message = #FFCC99;
primary = #66CCFF;
sub-primary = #70eaff;
success = #99CC99;
disabled = #c5c8ce
warn = #FFFF99;
error = #FF6666;
title = #fcfaff;
icon = #fff;
background = #eeeeee
tip = #9fa2a8;

Font-LL = 30px;
Font-L = 24px;
Font-N = 18px;
Font-Icon = 16px;

body {
  background-color background;
}

a {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a:link {
  text-decoration none;
  cursor pointer;
  color title;
}

a:visited {
  text-decoration: none;
  cursor: pointer
  color title;
}

a:active {
  text-decoration: none;
  cursor: pointer
  color title;
}

a:hover {
  text-decoration: none;
  cursor: pointer
  color title;
}

.icon {
  color icon;
  font-size Font-Icon;
}

input::-webkit-input-placeholder {
  color : tip;
}