message = #FFCC99;
primary = #66CCFF;
success = #99CC99;
disabled = #c5c8ce
warn = #FFFF99;
error = #FF6666;
title = #fcfaff;
icon = #808695;

Font-LL = 30px;
Font-L = 24px;
Font-N = 18px;
Font-Icon = 16px;

a {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a:link {
  text-decoration none;
  cursor pointer;
  color title;
}

a:visited {
  text-decoration: none;
  cursor: pointer
  color title;
}

a:active {
  text-decoration: none;
  cursor: pointer
  color title;
}

a:hover {
  text-decoration: none;
  cursor: pointer
  color title;
}

