message = #FFCC99;
primary = #66CCFF;
sub-primary = #70eaff;
success = #99CC99;
disabled = #d4d7dd
warn = #FFFF99;
error = #FF6666;
title = #fcfaff;
icon = #808695;
background = #eeeeee;
tip = #9fa2a8;
iWhite = #fff;

Font-LLL = 48px;
Font-LL = 30px;
Font-L = 24px;
Font-M = 18px;
Font-Icon = 16px;
Font-S = 14px;

body {
  background-color background;
}

a {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a:link {
  text-decoration none;
  cursor pointer;
  color title;
}

a:visited {
  text-decoration: none;
  cursor: pointer
  color title;
}

a:active {
  text-decoration: none;
  cursor: pointer
  color title;
}

a:hover {
  text-decoration: none;
  cursor: pointer
  color title;
}

input::-webkit-input-placeholder {
  color : tip;
}


.icon {
  color icon;
  font-size Font-Icon;
}


.line {
    position relative;
  }

    .line:after {
      content: " ";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 1px;
      background-color: #e0e0e0;
      /* 如果不用 background-color, 使用 border-top:1px solid #e0e0e0; */
      -webkit-transform: scaleY(.5);
      transform:scaleY(.5);
    }